---
layout: "base.njk"
---

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <article>
                <h2>
                    {{ title }}
                </h2>
                <p>
                    {{ content | safe }}
                </p>
            </article>
        </div>
    </div>
</div>